#login {
    background-color: #FBD266;
    /* margin-top: 1%; 
    margin-left: 25%;
    margin-right: 25%; */
    height: 100vh;
    width: 100%;
    border-style: groove;
    border-color: #d1cfb6;
    background-image: url("./images/vecteezy_animated-set-pixel-art-golden-coin-illustration_7816877.jpg");
    background-position: center;
    background-size: cover;
    
}

#form {
    background-color: #d1cfb6f6;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    gap: 5%;
    border-radius: 5%;
    border-style: groove;
}   

#name,
#email {
    display: inline-block;
    font-family: monospace;
    margin-top: 5%;
    font-weight: 800;
    /*margin-left: 5%;
    margin-right: 5%; */
    
}

#heading {
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-family: monospace;
    font-size: 64px;
    padding-top: 100px;
    color: #d1cfb6;
    -webkit-text-stroke: 2px black;
    
}

#button {
    justify-content: center;
    border-radius: 10%;
    font-family: monospace;
    border-width: 5%;
    border-style: dotted;
    display: grid;
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 5%;
    
    
}